
<div class="container">
<strong>The Long URL is: </strong> {{originalUrl}}
<form method="GET" action="/expand">
Enter a short URL below: <input type="url" name="shortUrl">	
<input type="submit" value="EXPAND URL">	
</form>
</div>

