<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <img src="img/logo.jpg" alt="Logo" width="100" height="100">
        <h1> URL Shortener </h1>
    </head>
    <body>
        <header>
            <h2>Trending URLS</h2>
        </header>
        <nav>
            <a href="/">Home</a>
            <a href="/views/shorten">SHORTEN URL</a>
            <a href="/views/expand">EXPAND URL</a>
        </nav>
        
        {{{body}}}
    
    </body>
</html>