<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <title> URL Shortener </title>
    </head>
    <body>
        <header>
            <img src="img/logo.jpg" alt="Logo" width="100" height="100">
            <h1>URL Shortener</h1>
        </header>
        <nav>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/shorten">SHORTEN URL</a></li>
            <li><a href="/expand">EXPAND URL</a></li>
            </ul>
        
        </nav>
        
        <h2>Trending URLS</h2>
        
        {{{body}}}

    </body>
</html>