body {background-color: rgb(255, 150, 80);}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
    font-size: 50px;;
    display: inline; 
}

img{
    margin-left: 36%;
}

h2 {
    font-family: "Times New Roman", Times, serif;
    color:white;
    text-align: left;
    font-size: 20px;
}

ul {
    background-color: #333;
    list-style-type: none;
    margin: 10;
    padding: 10;
    overflow: hidden;
  }
  
  ul li {
    float:left;
    color: white;
  }

  ol {
    padding: 20px;
  }

  ol li{
    padding: 5px;
    }   
  li a {
    display: block;
    color: white;
    padding: 20px 25px;
  }
  
  li a:hover {
    background-color: rgb(255, 150, 80);
  }

  input[type=url] {
    width: 60%;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .container {
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    width: 30%;
  }